@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    font-family: Raleway;
    scroll-behavior: smooth;
}

html {
    scroll-behavior: smooth;
  }

.hero{
    background-image: linear-gradient( rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(./assets/hero.jpg);
    background-position: center;
    background-size: cover;
}

.free-quote{
    background-image:  url('./assets/electric-tools-table.jpg');
    background-size: cover;
    background-position: center;
}